html, body{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "微软雅黑";
}

.main{
	margin:0.2rem;
	.title{
		text-align: center;
		font-size: 0.2rem;
    }
    .sub-title{
    	font-size: 0.16rem;
    }
    p{
	    font-size: 0.16rem;
	    line-height: 0.24rem;
	}
}